@charset "UTF-8";



/* GLOBAL CSS */

/*COLOR PALETTE

#FCD9CE LIGHT PINK
#FF1B40 EASY RED


*/



	body {
		/* padding: 10;
		margin-top: 100px;
		margin-left: 50px; */
		background-color: black;
		font-family: Helvetica, Arial, "sans-serif";
		font-size: 50pt;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		/* flex-shrink: shrink; */
		justify-content: space-around;
		align-items: center;
	}
	
	#charts {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		flex-shrink: shrink;
		justify-content: space-around;
		align-items: center;
		width: 90%;
		padding: 50px 50px;
		
	}
	
	#Left{
		background-color: black;
		width: 48%;
		padding: 1%;

	}
	
	#leftTitle{
		color: white;
		font-family: Helvetica, Arial, "sans-serif";
		font-size: 50%;
	}
	
	#Right{
		background-color: black;
		width: 48%;
		padding: 1%;
	}
	
	#rightTitle{
		color: white;
		font-family: Helvetica, Arial, "sans-serif";
		font-size: 50%;
		
	}
	
	#workButton {
		background-color: pink;
		padding: 10px 20px;
	  color: rgba(255,247,247,1.00);
	  background-color: rgba(191, 74, 99, 0.5);
	  border-radius: 5px;
		border: none;
	  font-size: 12px;
	  font-family: Helvetica, Arial, "sans-serif";
	  cursor: pointer;
	  transition-duration: 0.3s;
	  transition-property: transform;
	  margin: 30px;
		}
		
	#workButton:hover, 
	#workButton:focus, 
	#workButton:active {
		transform: scale(1.1);	
		}	
		
	#homeButton {
		background-color: pink;
		padding: 10px 20px;
	  color: rgba(255,247,247,1.00);
	  background-color: rgba(191, 74, 99, 0.5);
	  border-radius: 5px;
		border: none;
	  font-size: 12px;
	  font-family: Helvetica, Arial, "sans-serif";
	  cursor: pointer;
	  transition-duration: 0.3s;
	  transition-property: transform;
	  margin: 30px;
	}
	
	#homeButton:hover, 
	#homeButton:focus, 
	#homeButton:active {
		transform: scale(1.1);	
		}

